<main>
    <h2>HOME PAGE</h2>

    <article>

        <!-- écriture ejs permettant l'insertion d'éléments dynamiques
        l'objet data a été transmis depuis le contrôleur -->

        <h3><%= data.title %></h3>   

        <img src="/img/<%= data.url_img %>" alt="" />
    </article>
</main>
