

<!-- // template principal de la partie admin  -->

<main id="admin">
    <h2>ADMIN PANEL</h2>
    <nav>
        <a href="/admin">product list</a>
        <a href="/admin/product/add">add product</a>
    </nav>


    <!-- Qui sert lui-même de second layout pour acceuillir les parties spécifiques 
    aux admins -->
    <%- include(component) %>
</main>
