<ul>

<!-- on boucle sur le tableau datas transmi depuis un contrôleur-->
    <% for(const data of datas) {%>
<!-- !-- affichage pour chaque occurence de la valeur à la clé title --> 
    <li><%= data.title %></li>

    <% } %>
</ul>
